<!-- -------------------- css -------------------- -->
<style>
  .card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background: #ffffff;
    margin: 10px 0;
    padding: 20px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    margin-bottom: 20px;
  }

  .card-title h2 {
    margin-bottom: 10px;
  }

  .card-description {
    text-align: center;
  }

</style>

<!-- -------------------- html -------------------- -->

<!-- card -->
<div class="card">

  <!-- title -->
  <h2 class="card-title">
    Error!
  </h2>

  <!-- description -->
  <div class="card-description">
    Something went wrong with our server. Click
    <a href="/"> here</a> to to back home!
  </div>

</div>
