<!-- -------------------- style -------------------- -->
<style>
  .error {
    margin: 20px 0;
    background-color: #f8d7da;
    border-radius: 2px;
    border: 1px solid #f5c2c7;
  }

  .error p {
    color: #842029;
    padding: 16px;
  }
</style>

<!-- -------------------- html -------------------- -->
<% if (error) { %>
<div class="error">
  <p>asdfasdf asd fasdfasdf asdfasdf asdf asd fasdf as dfasd fafds</p>
</div>
<% } %>
