<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>reclique technical interview</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div id="app">

    <!-- empty -->
    <div></div>

    <!-- container -->
    <div class="container">
      <!-- header -->
      <%- include("../components/header.html") %>

        <!-- body -->
        <%- body %>
    </div>

    <!-- copyright -->
    <div class="copyright">
      <small>Copyright © <span id="year"></span>. Made with ❤️ by <a class="hover:text-slate-50"
          href="https://github.com/wajeht/reclique-technical-interview" target="_blank">@wajeht ↗️</a></small></footer>
    </div>
  </div>

  <!-- script -->
  <script src="/js/admin.js"></script>
</body>

</html>
